$--color-primary: #036fae;
$--color-primary-light-1: #0258A3;
$--color-primary-light-2: #0589D6;
$--color-primary-light-3: #2D9CDD;
$--color-primary-light-4: #50ACE2;
$--color-primary-light-5: #73BDE8;
$--color-primary-light-6: #91CBED;
$--color-primary-light-7: #AFD9F1;
$--color-primary-light-8: #CDE7F7;
$--color-primary-light-9: #E6F3FA;
$--color-success: #03AE60;
$--color-warning: #DEA43A;
$--color-danger: #CC4545;

$--color-success-light: #67DCA7;
$--color-warning-light: #FDE3B3;
$--color-danger-light: #F7B8B8;

$--color-success-lighter: #E5F9F0;
$--color-warning-lighter: #FEF8EC;
$--color-danger-lighter: #FDEDED;

$--background-color-base: #F5F6F7;
$--font-size-base: 13px;

//自定义变量
$--color-primary-hover: #0589D6;
$--color-success-hover: #03D374;
$--color-warning-hover: #FBBA42;
$--color-danger-hover: #EB6565;

$--color-primary-active: #0258A3;
$--color-success-active: #019451;
$--color-warning-active: #C38C29;
$--color-danger-active: #AC2D2D;

$--color-success-special: #B3EDD2;
$--color-warning-special: #FEF1D9;
$--color-danger-special: #FBDBDB;

$--background-color-light: #F5F7FA;
$--background-color-lighter: #F0F2F5;

$--color-primary-rgb: 3, 111, 174;
